@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lexend:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}

body{
    box-sizing: border-box;
    background: #ffb012;
    background: -webkit-linear-gradient(90deg, rgba(255, 176, 18, 1) 0%, rgba(255, 209, 117, 0.8) 50%, rgba(255, 176, 18, 1) 100%);
    background: -moz-linear-gradient(90deg, rgba(255, 176, 18, 1) 0%, rgba(255, 209, 117, 0.8) 50%, rgba(255, 176, 18, 1) 100%);
    background: linear-gradient(90deg, rgba(255, 176, 18, 1) 0%, rgba(255, 209, 117, 0.8) 50%, rgba(255, 176, 18, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFB012", endColorstr="#FFB012", GradientType=1);
    overflow-x: hidden;
    padding: 0;
}

header{
    display: flex;
    padding-left: 30px;
}

header h1, h1 span, p span{
    font-family: "Dancing Script", cursive;
    color: rgb(255, 123, 0);
}

header h1{
    font-size: 3.2em;
}

h1 span{
    font-size: 1.2em;
}

p span{
    font-size: 1.75rem;
}

main{
    display: flex;
    justify-content: center;
    gap: 15vw;
}

.desc-container{
    max-width: 500px;
    text-align: center;
}

.desc-container h1{
    font-size: 2.5em;
}

.form-container{
    background: #f06b05;    
    background: linear-gradient(90deg, rgba(240, 107, 5, 1) 0%, rgba(255, 156, 80, 0.8) 50%, rgba(240, 107, 5, 1) 100%);
    max-width: 500px;
    width: auto;
    padding: 15px 50px;
    border-radius: 30px;
}

.form-container h2{
    text-align: center;
}

input{
    border-radius: 10px;
    border: none;
    outline: 0;
    padding: 3.5px 10px;
    background-color: #f0b78b;
}

.gender-container label{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 8px;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid orange;
    border-radius: 50%;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em orange; 
    background-color: yellow;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid orange;
    outline-offset: max(2px, 0.15em);
    background-color: yellow;
}

form label, form p{
    font-weight: 600;
    font-size: 0.88em;
}

.toggle-link{
    color:rgb(255, 201, 92);
    cursor: pointer;
}

form p:hover{
    opacity: 0.88;
}

form p:active{
    opacity: 0.75;
}

form input[type="text"], form input[type="email"], form input[type="password"]{
    width: 350px;
}

form button{
    margin-top: 12px;
    background-color: #f3a600;
    border: none;
    width: 75px;
    height: 25px;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
}

form button:hover{
    background-color: #111111;
    color: #ffff00;
}

form button:active{
    opacity: 0.75;
}

@media(max-width: 1275px) {
    main{
        padding: 25px;
        gap: 5vw;
    }
}

@media(max-width: 930px) {
    main{
        flex-direction: column;
        align-items: center;
    }
}